<!DOCTYPE html>
<html>
  <head>
    <title>Burned Universe</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='../styles.css' rel='stylesheet' />
  </head>
  <body id='body-randomz'>

    <div id='header'>
      <div id='buddy'>
      </div>
      <div id='nav-bar'>
        <div id='hamburger'>
          <i class="fas fa-bars"style='color: white'></i>
        </div>
      </div>
    </div>

    <div id='landing-banner-randomz'>
      <div id='project-fade'>

      <div id='index-title-container'>
        <p style='background-color: white; color: black'>URL-PENDING.FAKE.REPL</p>
        <p id='github-link' style=''>//private repository//</p>
      </div>

      <div class='bottom-fade'></div>
      </div>
    </div>

    <div id='project-banner' style='width: 100vw; height: 100vh; background: white'>



    </div>

  </body>
  <script src='../js/js/index.js' type='module'></script>
</html>
